<div class="row">
<% for(const blog of blogs) { %>
    <div class="col-3 my-2">
        <div class="card" style="width: 18rem;">
            <img src="/images/bok2.png" class="card-img-top">
            <div class="card-body">
                <p class="card-text"><%= blog.title %></p>
            </div>
        </div>  
    </div>    
<% } %>
</div>
